<div class="panel panel-primary">
    <div class="panel-heading text-center">Welcome to the Receipt Management Tool</div>
    <div class="panel-body"  >
        <div class="row" >
                <img src="./app/assets/images/zuehlke_logo.jpg" 
                 class="img-responsive center-block"
                 style="max-height:200px;padding-bottom:20px"/>
        </div>
        <div class="row">
            <h3 class="text-center">Markus Rehrs & Stefan Benz</h3>
            <div class="text-center">markus.rehrs@zuehlke.com, stefan.benz@zuehlke.com</div>
        </div>
    </div>
</div>